@charset "utf-8";
@import "reset.css";

.row { max-width:1167px; margin:0 auto; }
/*width 지정 때문에 가로 스크롤바가 생김 
그래서 max-를 붙여주는게 좋음
1167 이상의 화면에서는 1167로 유지하고
1167 이하의 화면에서는 100%로 바뀜*/

.skip a { display: block; background: #000; color: #fff; 
    text-align: center;
    width: 1px; height: 1px;
    overflow: hidden; position: absolute; 
    top: -100px; }
    /* a의 상위 요소는 skip인데 skip의 상위 요소는 body
    body가 부모일때는 position:relative 안줘도 됨 */
.skip a:focus { width: 100%; height: auto;
    padding: 10px 0px; position: fixed;
    top: 0px; z-index: 9999999; }


#header { position: fixed; width: 100%; top: 0; left: 0;
    background: #fff; z-index: 99999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }
.topmenu .row { position:relative }    
.topmenu { background:#f76f6f;
    color:rgba(255,255,255,0.7);
    padding:10px 0; letter-spacing:-0.5px; }
.topmenu a { transition: all 0.5s; }
.topmenu a:hover { color:rgb(255, 255, 255, 1) }    
.topmenu .sns a { padding-right:10px; font-size:12.2px;  }
.topmenu .sns a:first-child span { font-size:11px }
.topmenu .login { position:absolute; top:0; right:0; color:#000;}
.topmenu .login a { padding-left:10px; font-size:11px }

.logoNav { position:relative; height:76px; }
.logoNav h1 { color:#ffae3d; 
    font-size:26.25px; line-height:76px;
    font-weight:bold;  }

.logoNav .nav { position:absolute; top:0; right:0; }
.logoNav .nav .depth1 > li { float: left; /* 서브메뉴들이 있으면 display:inline-block으로 하지말고 float으로 바꿔주기 */
    font-size:15.75px; line-height:76px;
    padding-left:30px; font-weight:bold;
    transition:all 0.5s; position: relative; }
.logoNav .nav .depth1 > li:hover { color:#ffd23c; }
.logoNav .nav .depth1 > li:first-child { color:#ffd23c }
.logoNav .nav .depth1 > li > a:after { 
    content:'\f078';
    font-family:'Font Awesome 5 Free';
    font-weight:900;
    color:#ddd; padding-left:10px; }
.logoNav .nav .depth1 > li:first-child > a:after,
.logoNav .nav .depth1 > li:nth-child(5) > a:after { visibility: hidden;}

.logoNav .depth2 { position: absolute; top: 85%; /*부모높이 바로 아래는 100%, 겹치면 숫자 내리면 됨*/
    left: 0; width: 168px; background: #fff;
    border-radius: 5px; padding: 0 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); display: none; }
.logoNav .depth2:before { content: ''; position: absolute;
    bottom: 100%; left: 0; 
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }
    
.logoNav .depth1 > li:hover .depth2 { display: block; } /* display:block으로 다시 나타나게 함 */
.logoNav .depth2 > li { line-height: 38px; /*detph1>li와는 다른 사이즈이기 때문에 상속받지 않고 따로 지정*/
    color: #ffae3d; }
.logoNav .depth2 > li:hover { color: #ffd23c; }



#section { padding-top: 117px; } /*헤더랑 겹치는 부분*/
.slideOuter { height:600px; 
    overflow:hidden; position:relative; }
.slideOuter .arr {
    position:absolute; top:50%;
    transform:translateY(-50%);
    font-size:80px;
    color:#fff }  
.slideOuter .prev {left:100px}
.slideOuter .next {right:100px}
.slideOuter .dotBox { 
    position:absolute; bottom:20px;
    left:50%; 
    transform:translateX(-50%) }
.slideOuter .dotBox a {
    display:inline-block;
    width:15px; height:15px; 
    background:#fff; 
    opacity:0.6;
    border-radius:50% }    
.slideOuter .dotBox a.active {
    opacity:1; }   

.slideInner > div { 
    height:600px;
    background-size:cover; 
    background-position:center; 
    background-repeat:no-repeat; 
    position:relative
}
.slideInner > div:before {
    content:'';
    position:absolute;
    top:0; left:0; bottom:0; right:0;
    background:rgba(0,0,0,0.3);
}
.slideInner > div:first-child { 
    background-image:url(../images/main-cover1.min.jpg)}
.slideInner > div:last-child { 
    background-image:url(../images/main-cover2.min.jpg)}
.slideInner > div > .text { 
    position:absolute; top:50%; left:50%;
    transform:translate(-50%, -50%);
    text-align:center; color:#fff;
    /* z-index:9999; */
}
.slideInner .text > p:first-child {
    font-size:70px; 
    text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
}    
.slideInner .text > p:nth-child(2) {
    font-size:19.25px; 
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    margin:20px 0px 30px } 
.slideInner .text > p:nth-child(3) > a { display:inline-block; 
    padding:14px 28px; font-size:14px;
    border-radius:4px; }
.slideInner .text > p:nth-child(3) > a:nth-child(1) { color:#fff; 
    background:rgba(0,0,0,0.5)}
.slideInner .text > p:nth-child(3) > a:nth-child(2) { color:#000; 
    background:rgba(255,255,255,0.5)}    
.slideInner .text > p:nth-child(3) > a:nth-child(1):hover { 
    background:#ffd23c}
.slideInner .text > p:nth-child(3) > a:nth-child(2):hover { color:#fff }
       
#section .title h2 { font-size:28px; color:#222;
margin:20px 0 20px; font-weight:bold;
text-align:center }
#section .title p {
    font-size:14px; color:#333;
    margin-bottom:56px;
    padding-bottom:25px; 
    text-align:center; 
    position:relative; }
#section .title p:after {
    content:''; width:100px; 
    height:2px; 
    background:#f77070;
    position:absolute; bottom:0;
    left:50%; margin-left:-50px;
}
#section .title p strong { 
    font-weight:bold }

.act { padding:80px 0 }
.act ul li { float:left; width:24%;
    background-size:auto;
    background-repeat:no-repeat;
    height:186px; margin:0 0.5%; 
    position:relative }
.act ul li:nth-child(1) {
    background-image:url(../images/main-business1.min.jpg); }
.act ul li:nth-child(1):before {
    content:''; position:absolute;
    top:0; left:0; right:0; bottom:0;
    background-color: rgba(48, 120, 210, 0.5);
}
.act ul li:nth-child(2) {
    background-image:url(../images/main-business2.min.jpg)
}
.act ul li:nth-child(2):before {
    content:''; position:absolute;
    top:0; left:0; right:0; bottom:0;
    background-color: rgba(255, 174, 61, 0.6);
}
.act ul li:nth-child(3) {
    background-image:url(../images/main-business3.min.jpg)
}
.act ul li:nth-child(3):before {
    content:''; position:absolute;
    top:0; left:0; right:0; bottom:0;
    background-color: rgba(48, 205, 210, 0.5);
}
.act ul li:nth-child(4) {
    background-image:url(../images/main-business4.min.jpg)
}
.act ul li:nth-child(4):before {
    content:''; position:absolute;
    top:0; left:0; right:0; bottom:0;
    background-color: rgba(247, 111, 111, 0.5);
}
.act ul li div { 
    position:absolute; top:10px; left:20px;
    right:20px; bottom:10px; color:#fff; }
.act ul li div h3 { margin:10px 0; 
    font-size:19.25px; font-weight:bold }    
.act ul li div p { font-size:14px; margin:15px 0;
    line-height:1.5 }
.act ul li div a { padding: 5px 20px;
    font-size: 12px; line-height: 1.5;
    border-radius: 3px;  color: #f8f9fa;
    border:1px solid #f8f9fa; 
    letter-spacing:0.5px;
    transition:all 0.5s;
 }
.act ul li div a:hover { 
    color:#212529; background-color:#f8f9fa }


.curriInfo { padding: 84px 0; }
.curriBox > .column { float:left; width:31.66% }
.curriBox > .column:nth-child(2) { margin: 0 2.5%; }
.curriBox > .column:nth-child(1) > div:nth-child(2),
.curriBox > .column:nth-child(3) > div:nth-child(2) {
    margin-top: 15.5px; } /* 상하 여백은 px, 좌우여백은 % (반응형 때문에) */
.curriBox > .column > div { position: relative; overflow: hidden; }
.curriBox .overlay { position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    background:-webkit-linear-gradient(left, #ffd23c, #ffae3d);
    background:-moz-linear-gradient(right, #ffd23c, #ffae3d);
    background:-o-linear-gradient(right, #ffd23c, #ffae3d);
    background:linear-gradient(to right, #ffd23c, #ffae3d);
    opacity: 0; transition: all 0.5s; }
.curriBox .column > div:hover .overlay { opacity: 0.8; }
.curriBox .copy { position: absolute; 
    /* 위에 relative를 하러 갔더니 부모가 absolute가 존재할 경우 position만 있으면 괜찮음 */
    bottom: -20px; left: 20px; right: 20px; 
    color: #fff; transition: all 0.5s; }
.curriBox .column > div:hover .copy { bottom: 0; }
.curriBox .copy h3 { font-size: 24.5px; margin-bottom: 10px;
    font-weight: bold; }
.curriBox .copy p { font-size: 14px; margin: 15px 0; 
    line-height: 1.5;}


.review { background:#fdeace; padding: 84px 0;}
.review ul li { float:left; width:31.66% }
.review ul li:nth-child(2) { margin: 0 2.5%; }
.review ul li > div { position: relative; }
.review .quote { font-size: 30px; color: #fff;
    width: 56px; height: 56px; background: #ffae3d;
    border-radius: 50%; text-align: center; line-height: 56px;
    position: absolute; top: -28px; left: 10px;
    z-index: 99999; }
.review .blockQuote { background: #fff; font-size: 17.5px;
    padding: 40px; border-radius: 4px;
    font-style: italic; line-height: 1.5; color: #333;
    position: relative; margin-bottom: 20px; }
.review .blockQuote:after { content: '';
    position: absolute; top: 100%; /*부모높이 바로 아래*/ left: 40px;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    /* border-bottom: 15px solid #f00; */}
.review .client { padding: 0 20px; font-size: 20px;
    font-weight: bold; letter-spacing: -1px; }
.review .client p:nth-child(1) { color: #ffae3d; }
.review .client a { color: #f76f6f; }
.review .client p:nth-child(2) { color: #fff; font-size: 16px; }



.bestChoice { background: url(../images/main-bottomBanner.min.jpg) no-repeat; 
    height: 160px; line-height: 160px;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; /* 기본값은 scroll*/
    font-size: 19.25px; color: #fff;
    text-align: center; line-height: 160px;
    font-weight: bold;
    position: relative; }
.bestChoice .overlay { position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0,0,0,0.4); }
/* .bestChoice .row { position: relative; } */
 
.csNotice { background:#f5f5f5;
    padding: 84px 0; color: #222; }
.csNotice > .row > div { 
    float:left; width:31.66%; /* background: pink;*/ }
.csNotice > .row > div:nth-child(2) {margin: 0 2.5%;}
.csNotice h2 { font-size: 21px;
    letter-spacing: -1px; font-weight: bold;
    border-bottom: 2px solid #383d41;
    padding-bottom: 5px; margin-bottom: 10px; }
.csNotice .cscenter p:nth-child(1),
.csNotice .cscenter p:nth-child(2) { font-size: 19.25px; 
    color: #333;
    font-weight: bold; }
.csNotice .cscenter p:nth-child(3),
.csNotice .cscenter p:nth-child(4) { font-size: 14px; color: #333;
    line-height: 1.5; }

.csNotice .consult { font-size: 14px; color: #333;
    line-height: 1.5; }
.csNotice .consult a { display: block;
    padding: 10px 20px; color: #fff; background: rgba(0,0,0,0.5);
    width: 133px; /* a 태그는 width를 안주면 부모 넓이랑 동일 */
    text-align: center;
    margin-top: 10px; border-radius: 4px; }

.csNotice .notice li { padding: 2px; }
.csNotice .notice a { font-size: 14px;
    /* white-space: nowrap; overflow: hidden; 
    text-overflow: ellipsis; display:block; */ }
.csNotice .notice a:before { content: 'ㆍ'; }
.csNotice .notice a:after { content: 'NEW';
    font-size: 10px; color: #ff0;
    font-weight: bold; } /* 원래 자바에서 하는 것 */
.csNotice .notice+.more { position: absolute;
    top: 0; right: 0;
    padding: 5px 10px; background: rgba(0,0,0,0.5);
    color: #fff; font-size: 12px;
    border-radius: 4px; }
.csNotice .row > div:nth-child(3) { position: relative; }

#footer { text-align:center; 
    font-size: 12.25px;}    
.footerMenu { background:#eee;
    color: #333; padding: 10px; }
.footerMenu a { padding-left: 11px; }
.footerMenu a:before { content: '|';
    padding-right: 11px;
    font-size: 6px; 
    position: relative; top: -1px; } /* 현재 기준에서 -1px만큼 올라가는 것, absolute 안쓰고 | 넣기 */
.footerMenu a:first-child:before { display: none; }

.comInfo { background: #222; color: rgba(255,255,255,0.5);
    padding: 40px 0; }
.comInfo .sns a { font-size: 21px; padding: 4px 10px 10px;
    display: inline-block; }
.comInfo .info span { letter-spacing: -1px; padding-left: 5; }
.comInfo .info span:before { content: '|';
    padding-right: 7px; font-size: 6px;
    position: relative; top: -1px; }

.copyright { background:#0a0a0a; font-size: 10.5px; 
    padding: 10px 0; color: #333; }
